In [2]:
import pandas as pd
import re
df = pd.read_csv("data_extra.csv")

In [30]:
statscan = pd.read_csv("source_data/statscanpopulations.csv")
statscan.head()
#  How to cite: Statistics Canada. Table 98-10-0002-01  Population and dwelling counts: Canada and census subdivisions (municipalities)

,REF_DATE,GEO,DGUID,Population and dwelling counts (13),UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2021,Canada,2021A000011124,"Population, 2021",NaN,0,units,0,NaN,1.1,36991981.0,NaN,NaN,NaN,0
1,2021,Admirals Beach,2021A00051001186,"Population, 2021",NaN,0,units,0,NaN,4.1,97.0,NaN,NaN,NaN,0
2,2021,Aquaforte,2021A00051001144,"Population, 2021",NaN,0,units,0,NaN,5.1,74.0,NaN,NaN,NaN,0
3,2021,Arnold's Cove,2021A00051001270,"Population, 2021",NaN,0,units,0,NaN,6.1,964.0,NaN,NaN,NaN,0
4,2021,Avondale,2021A00051001464,"Population, 2021",NaN,0,units,0,NaN,7.1,584.0,NaN,NaN,NaN,0

In [72]:
pop = statscan.iloc[:,[1,10]]
pop.rename(columns={'GEO':'city', 'VALUE': 'population'}, inplace=True)
df.rename(columns={'population':'badpopulation'}, inplace=True)

/var/folders/s3/n5xms5qx46g0fqvxml0bhs6m0000gn/T/ipykernel_29335/821070083.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  pop.rename(columns={'GEO':'city', 'VALUE': 'population'}, inplace=True)

In [57]:
# replace accents
pop['city'] = pop['city'].apply(lambda x: re.sub("[é]","e",x))

#checking accents got changed
#pop[pop['population']>500000]

'Montreal'

In [79]:
total_df = pd.merge(df, pop, how='left', on=['city'])
total_df.drop(['badpopulation'], axis = 1, inplace=True)
total_df.to_csv('data.csv')

,Unnamed: 0,city,meal_cheap,meal_mid,meal_mcd,r_beer_dom,r_beer_imp,r_cappuccino,r_coke,r_water,...,buy_centre,buy_out,salary,mortgage,data_quality,lat,lng,province,badpopulation,population
0,0,Toronto,18.53,85.23,9.63,5.19,6.36,3.59,1.95,1.53,...,9834.67,7249.17,3249.79,5.24,1,43.7417,-79.3733,Ontario,5429524.0,2794356.0
1,1,Montreal,14.82,66.70,9.63,5.93,5.93,3.57,1.76,1.37,...,6069.66,3487.84,2823.94,5.41,1,45.5089,-73.5617,Quebec,3519595.0,1762949.0
2,2,Vancouver,18.16,83.38,8.89,5.19,6.67,3.80,1.94,1.77,...,9983.22,7902.75,3474.89,4.46,1,49.2500,-123.1000,British Columbia,2264823.0,662248.0
3,3,Calgary,18.53,63.00,8.89,5.19,5.93,3.75,1.75,1.53,...,3328.49,2651.05,3807.94,4.58,1,51.0500,-114.0667,Alberta,1239220.0,1306784.0
4,4,Edmonton,18.53,66.70,8.89,5.19,5.93,3.79,1.82,1.73,...,2200.36,1841.51,3403.02,4.82,1,53.5344,-113.4903,Alberta,1062643.0,1010899.0